.button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.button-confirm {
  border: 2px solid $primary-color;
  border-radius: 6px;
  padding: 0.4rem;
  color: $primary-color;
  margin: 4px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.button-cancel {
  margin: 4px;
  text-decoration: underline;
  color: $black--light;

  &:hover {
    color: #28aafd;
  }
}

.button-submit {
  transition: all 0.2s ease-in-out;
  border: 2px solid #66BB6A;
  background-color: #66BB6A;
  padding: 0.6em;
  text-transform: uppercase;
  color: #E8F5E9;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1em;
  box-shadow: 1px 1px 3px 0 rgba(255,255,255,0.2);
  &:hover {
    color: $white;
    background-color: #66BB6A;
    border: 2px solid $white;
  }
}

.scroll-up-arrow {
  position: fixed;
  right: 4%;
  bottom: 2%;

}