.overlay {
  transition: all 0.5s ease-in-out;
  position: fixed;
  background-color: rgba(244, 67, 54, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 5;

  .close-button {
    text-align: right;
    margin: 1rem;
  }
}

.overlay-hide--top {
  transform: translateY(-200%);
}