.bottom-side {
  height: 35%;
  width: 100%;
  padding-top: 10%;
}

.bottom-buttons-container {
  display: flex;
  justify-content: space-around;
}

.buttons-option {
  display: flex;
  width: 110px;
  justify-content: space-between;
}

.bottom-screen {
  background-color: #51ae5f;
  width: 210px;
  height: 64px;
  border-radius: 10px;
  margin-left: 25%;
  margin-top: -6%;
}